.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.blueBackground{
    background-color: #305F96;
}
.harambe{
   background-image:url("http://static1.squarespace.com/static/570b78b6859fd0f69a317eb4/t/5790aa4203596ea40a357156/1469099430297/")
}

.text-white{

    color: #ffffff;
    font-weight: bolder;
}

p {
    color: Silver;
    background-color: #48576a;
    font-size: .75rem;
}
h1{
    color: black;
    font-weight: Bold;
}

h3{background-color: #48576a;
    color:Silver;
    font-weight: bold;
}
.navbar-inverse{
    background-color:#676060
}
.middlebox{
    color:#48576a;
    font-color: Silver;
    margin: 1%
}

.row:hover {
    border: 5px solid #48576a;
    opacity: 1.0;
}

.row{

    background: #48576a;
    border: 2px solid transparent;
    border-bottom: 2px solid Silver;
    border-top: 2px solid Silver;
    color: Silver;
    display: block;
    height: auto;
    margin: 0 auto;
    opacity: 0.9;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    width: 90%;
}